
body{
    margin: 0;
    padding: 0;
}
nav{
    background: black;
    overflow: auto;
    width: 100%;
    line-height: 20px;
}
.left{
    float: left;
    margin-left:20px ;
}
.right{
    float: right;
    margin-right: 50px;
}
li{
    display: inline-block;
}
.left li a {
    width: 100px;
    display: block;
    background:rgb(33, 118, 139);
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
}
.right li a {
    width: 50px;
    display: block;
    color: rgb(255, 255, 255) ;
    padding:10px 10px ;

}
.left li a:hover , .right li a:hover{
    background: rgb(233, 202, 202);
    border-radius: 10px;


}
.fa-facebook,.fa-google,.fa-instagram
{
    font-size: 50px;
}

section{
    margin: 100px auto;
    width: 90%;
    height: 420px;
    display: flex;
    justify-content: space-around;
}

section div{
    width: 22%;
    height: 93%;
    background:#d6f3cd;
    padding: 1%;
    position: relative;
}
.banner{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}

#heading{
    font-style:italic;
    font-weight: BOLDER;
    border-radius:10px;
    border-width: 4px;
    width: 500px;
    height: 30px;
    margin-left: 13CM;
    margin-top: 0.05CM;
    text-align: center;
    padding:2px 30px ;
    border-color: white;
    font-size: 25px;
    font-family: monospace;
    background-color: lavender;
    border-style:groove;
    text-align: center;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}
@keyframes example{
    from{background-color: rgb(233, 171, 171);}
    to{ background-color: rgb(118, 211, 206); }
        }  
.style{
    font-family: monospace;
    font-weight: 700;
    font-weight: bolder;
    color: white;
}
.frame{
    color:rgb(20, 20, 20);
    font-weight:bold;
    text-transform: uppercase;
    font-size: 15px;
    text-shadow : 1.1px 1.1px rgb(235, 235, 30) ;

}
.notified{
    background-color: rgba(110, 102, 102, 0.2);
     width: 100%;
     padding: 10px;
     text-align: center;
     font-family:monospace;
     font-size:20px;
    
}
     
.separator {
   
    display: flex;
    align-items: center;
    text-align: center;
   padding-left: 10px;
   padding-right: 10px;
    
  }
  
  .separator::before,.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    border-radius: 0.5px;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  #ns{
    background-color: lightcoral;
    font-family: cursive;
    font-size: 15px;

  }
  .msection{
    margin: 80px auto;
    width: 100%;
    height: 190px;
    display:flex;
    justify-content: space-around;
}

.msection div{
    width: 10%;
    height: 23%;
    background:#8ec8d6;
    padding: 1%;
    position: relative;
}
.more {
    font-size: 20px;
    margin-left: 700px;
    text-decoration: none;
}
.video{
    padding-top: 20px;
    padding-left:700px ;
}
.write{
    font-family: sans-serif;
    font-size: 20px;
    font-style: bold;
    color: rgb(25, 76, 143);
    text-shadow: 1.4px 1.4px rgb(255, 255, 255);
    margin-left: 40px;
    background-color:#d6f3cd;
    margin-right: 40px;
    padding: 20px 40px ;

}
.soul{
    font-weight:bold;
    font-family: monospace;
    text-transform: lowercase;
    font-style: italic;
    text-shadow : 1.1px 1.1px rgb(153, 102, 63) ;

}
*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', sans-serif;
}
.bannerc{
    position: absolute;
    width: 50%;
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
}
.bannerc video{
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height: 50%;
    object-fit: cover;
}
.bannerc h1{
    position:absolute ;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
    background-color: #fff;
    font-size:5vw;
    text-transform: uppercase;
    mix-blend-mode: screen;
    
}
.rep{
    background-color: rgb(115, 175, 133);
    margin-left: 40PX;
    margin-right: 40PX;
    text-align: center;
    font-family: monospace;
    font-weight: bolder ;
    font-size: 15px;
    color: #fff;
    text-shadow: 3px 3px black;
}
.container{
    max-width: 1400px;
    margin:auto;
    background: rgb(228, 226, 108);
    overflow: auto ;
}
.gallery{
    margin: 5px;
    border:2px solid rgb(0, 0, 0);
    float: left;
    width: 330px; 
    margin-left: 10px;
}
.gallery img{
    width: 100%;
    height: 20%;
}
.desc{
    padding: 15px;
    text-align: center;

}
.container1{
    max-width: 1400px;
    margin:auto;
    background: rgb(228, 226, 108);
    overflow: auto ;
}
