ul{  
    color: green;
    list-style-type: none;
  margin-right:0;
  padding:0;
  overflow: hidden;
  background-color: #333;
  
   }
li{
    float: left;
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-decoration: none;
}
li:hover{
    background-color:grey;
}