@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

body {
    padding: 0;
    margin: 0;
    background: rgb(13, 19, 39);
    color: white;
    font-family: 'DM Mono', monospace;
}

.card-list {
    display: flex;
    padding: 50px;
    overflow-x: scroll;    
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem; 
    border-radius: 16px;
    background: rgb(13, 19, 39);
    box-shadow: -16px 0 48px  black ;
    transition: 0.3s;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px; 
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px,#17141d 0,#17141d);
}

.card:hover {
    transform: translateY(-16px);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin:48px 20px 20px;
}

.author-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 16px 10px;
    
}

.author-name-prefix {
    color: grey;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: rgb(8, 94, 223);
    stroke-width: 8;
    stroke-linecap: round;
}

.card-header h2:hover {
    background: linear-gradient(90deg, #f5aa09, #ee0e0e);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}