* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: rgba(78, 84, 71, 0.5);
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    text-align: center;
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
}

span {
    color: rgb(21, 2, 36);
    font-size: 20px;
    font-style: italic;
}

.bodySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.inputSection {
    display: flex;
    height: 500px;
    width: 100%;
    margin-top:25px;
}

.inputSubSec1 {
    border: 2px solid rgb(255, 249, 222);
    background-color: rgba(0, 0, 0, 0.852);
    width: 650px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #050505;
    opacity: 0.7;
    margin-right: 18px;
    color: white;
    /* margin: top right bottom left */
    margin: 20px 10px 10px 20px;   
}

input {
    width: 170px;
    height: 25px;
    margin: 9px;
    margin-left: 20px;
    border-radius: 7px;
    color: black;
    font-size: 18px;
    background-color:rgb(255, 249, 222);
    padding-left: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 7px;
    border: 1px solid rgb(142, 151, 131);
    color: rgb(255, 249, 222);
    text-transform: uppercase;
    cursor:pointer;
}

.inptButton {
    width: 150px;
    height: 30px;
    margin: 9px;
    margin-left: 20px;
}

.inptButton:hover {
    transition: all 0.3s ease-in-out;
    border: 1px ridge rgb(255, 249, 222);
    background-color: rgb(17, 23, 6);
    box-shadow: 1px 1px 8px rgb(255, 249, 222);
}

.inputSubSec2 {
    justify-content:flex-start;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(247, 255, 240);
    width: 570px;
    min-height: 120px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #050505;
    opacity: 0.7;
    /* margin: top right bottom left */
    margin: 20px 10px 10px 20px;    
}

.instruction {
    color: rgb(244, 255, 224);
    margin:10px 0 0 20px;
    padding: 5px;
}

.outputSection {
    background-color: rgba(92, 105, 84, 0.742);
    height: 400px;
    width: 100%;
}

.issuesWindow {
    border: 2px solid rgb(255, 249, 222);
    background-color: rgb(17, 23, 6);
    width: 650px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #050505;
    opacity: 0.7;
    color: white;
    /* margin: top right bottom left */
    margin: 20px 10px 20px 20px;   
}

li {
    list-style: none;
    margin: 10px;
    color: black;
    background-color: rgba(236, 255, 229, 0.938);
    border-radius: 10px;
    height: 27px;
    width:90%;
    padding: 5px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 5%;
}

.footer {
    border: 2px solid black;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #1f1f1f;
    background-color: rgba(122, 118, 129, 0.5);
}